    <header>
        <div class="container d-flex align-center mx-auto">
            <div class="navbar-logo d-flex align-center ff-main fw-bold fs-4">
                <img class="me-2" src="/assets/img/logo.svg" width="32px">
                <a class="text-primary" href="/">
                    Data Structures
                </a>
            </div>

            <div class="navbar-nav d-flex gap-3">
                <a class="nav-item" href="/stacks">Stacks</a>
                <a class="nav-item" href="/binarytrees">Binary Trees</a>
                <a class="nav-item" href="#">Like This</a>
            </div>
        </div>
    </header>