<!DOCTYPE html>
<html>
<head>
    {% include head-content.html %}
    <link rel="stylesheet" type="text/css" href="/stacks/assets/css/animator.css">
</head>
<body>
    {% include header.html %}

    <main class="pb-5">
        <div class="container mx-auto">
            <article>
                <h1 class="text-center ff-main fs-2">
                    {{ page.title }}
                </h1>

                <div class="d-flex justify-center gap-3">
                    <div class="post-tag">
                        Total Likes: 1250
                    </div>
                    <div class="post-tag">
                        Stack
                    </div>
                    <div class="post-tag">
                        JavaScript
                    </div>
                </div>

                <section>
                    {{ content }}

                    <div class="solution">
                        <div class="d-flex justify-center gap-4 mb-4">
                            <div class="tab-btn solution-tab p-2 active" data-target="solution-result">Result</div>
                            <div class="tab-btn solution-tab p-2" data-target="solution-code">Code</div>
                        </div>

                        <div>
                            <div class="tab-panel solution-tab-panel p-2 active" id="solution-result">
                                {% include bt-result-area.html %}
                            </div>

                            <div class="tab-panel solution-tab-panel p-2" id="solution-code">
                                <div class="d-flex gap-3 code-tabs">
                                    <div class="tab-btn code-tab p-2 active" data-target="solution.js">solution.js</div>
                                    <div class="tab-btn code-tab p-2" data-target="binary-tree.js">binary-tree.js</div>
                                </div>

                                <div class="d-flex">
                                    <div class="tab-panel code-tab-panel active" id="solution.js">
                                        {% highlight javascript %}
{% include_relative assets/js/{{ page.slug }}.js %}
                                        {% endhighlight %}
                                    </div>
                                    <div class="tab-panel code-tab-panel" id="binary-tree.js">
                                        {% highlight javascript %}
{% include_relative assets/js/binary-tree.js %}
                                        {% endhighlight %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    </main>

    {% include footer.html %}

    <script src="/assets/js/binary-trees/canvas-displayer.js"></script>
    <script src="/assets/js/binary-trees/bt-animator.js"></script>
    <script src="/assets/js/binary-trees/{{ page.slug }}.js"></script>
    <script>
        const canvas = document.querySelector('canvas');
        const ctx = canvas.getContext('2d');
        ctx.font = "bold 20px sans-serif";
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        ctx.lineWidth = 2;
    </script>
    <script>
        let tabBtns = document.getElementsByClassName('tab-btn');
        let solutionTabs = document.getElementsByClassName('solution-tab-panel');
        let codeTabs = document.getElementsByClassName('code-tab-panel');
        for (let tabBtn of tabBtns) {
            tabBtn.addEventListener('click', (e) => {
                if (e.target.classList.contains('solution-tab')) {
                    for (let currentTabBtn of tabBtns) {
                        if (currentTabBtn.classList.contains('solution-tab')) {
                            currentTabBtn.classList.remove('active');
                        }
                    }

                    for (let solutionTab of solutionTabs) {
                        solutionTab.classList.remove('active');
                    }
                } else {
                    for (let currentTabBtn of tabBtns) {
                        if (currentTabBtn.classList.contains('code-tab')) {
                            currentTabBtn.classList.remove('active');
                        }
                    }

                    for (let codeTab of codeTabs) {
                        codeTab.classList.remove('active');
                    }
                }

                e.target.classList.add('active');
                document.getElementById(e.target.dataset.target)
                        .classList.add('active');
            });
        }

        let showVisualizationBtn = document.getElementById('btn-show-visualization');
        let outputElement = document.getElementById('final-output');
        showVisualizationBtn.addEventListener('click', () => {
            // Validate the inputs
            let inputs = document.getElementsByClassName('sv-input');
            let args = [];

            for (let input of inputs) {
                let feedbackElement = input.nextElementSibling;
                feedbackElement.classList.add('d-none');

                if (input.classList.contains('sv-input-array')) {
                    // Remove last comma
                    let arrayValue = input.value.replace(/,\s*$/, "");

                    if (! /^\s*(\d|null)+\s*(,\s*(\d|null)+\s*)*$/.test(arrayValue)) {
                        // feedbackElement.innerText = 'Please enter the array elements followed by a comma';
                        feedbackElement.classList.remove('d-none');
                        return;
                    } else {
                        feedbackElement.classList.add('d-none');
                        let array = arrayValue.split(',');
                        array.forEach((value, index) => {
                            if (value.trim() == 'null') {
                                array[index] = null;
                            } else {
                                array[index] = parseInt(value.trim());
                            }
                        });

                        args.push(array);
                    }
                } else {
                    if (input.getAttribute('validation')) {
                        let regex = new RegExp(input.getAttribute('validation'));
                        if (! regex.test(input.value)) {
                            feedbackElement.innerText = 'Please enter the string in correct format';
                            feedbackElement.classList.remove('d-none');
                            return;
                        }
                    }

                    args.push(input.value);
                }
            }

            // Clear the previous screen
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            animatorModule.clearAnimations();

            if (outputElement) {
                outputElement.innerHTML = '&nbsp;';
            }
            document.getElementsByClassName('sv-comment')
                    .innerHTML = '';

            // const nodes = [1, 2, 3, 4, null, null, null, 8, 9];
            const nodes = args[0];
            const root = drawBinaryTree(nodes);
            setTimeout(() => {
                // Add a slight delay before starting the animations
                binaryTreeSolution(root);
            }, 500);
        });

        function highlightCharacter(string, index) {
            let highlightText = '<div class="sv-comment-highlight">';
            highlightText += string.substr(0, index);
            highlightText += '<span class="sv-comment-highlight-char">'+ string.substr(index, 1) +'</span>';
            highlightText += string.substr(index + 1);
            highlightText += '</div>';

            return highlightText;
        }

        function highlightSubstring(string, startIndex, length) {
            let highlightText = '<div class="sv-comment-highlight">';
            highlightText += string.substr(0, startIndex);
            highlightText += '<span class="sv-comment-highlight-char">'+ string.substr(startIndex, length) +'</span>';
            highlightText += string.substr(startIndex + length);
            highlightText += '</div>';

            return highlightText;
        }
    </script>
</body>
</html>