<!DOCTYPE html>
<html>
<head>
    {% include head-content.html %}
</head>
<body>
    {% include header.html %}

    <main class="pb-5">
        <div class="container mx-auto">
            <article>
                <h1 class="text-center ff-main fs-2">
                    {{ page.title }}
                </h1>

                <div class="text-center text-muted fw-600">
                    <p>{{ page.subtitle }}</p>
                </div>

                {{ content }}
            </article>
        </div>
    </main>

    {% include footer.html %}
</body>
</html>