<!DOCTYPE html>
<html>
<head>
    {% include head-content.html %}
</head>
<body>
    {% include header.html %}

    <main class="pb-5">
        <div class="container mx-auto">
            <article>
                <h1 class="text-center ff-main fs-2">
                    Data Structures - Learn by visualizing
                </h1>

                <div class="text-center text-muted">
                    <p>
                        How about learning some of the data structures algorithms by visually seeing how they work? I've made a small effort in this site to show you how some algorithms work through the animations.
                    </p>
                </div>

                <figure class="py-2 w-100 mx-auto">
                    <img class="main-img w-100" src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?w=600">
                </figure>

                <section>
                    {{ content }}
                </section>
            </article>
        </div>
    </main>

    {% include footer.html %}
</body>
</html>