<!DOCTYPE html>
<html>
<head>
    <title>Data Structures</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>
<body>
    <header>
        <div class="container d-flex align-center mx-auto">
            <div class="navbar-logo d-flex align-center ff-main fw-bold fs-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Stack_Overflow_icon.svg" width="40px">
                <a class="text-primary" href="#">
                    Data Structures
                </a>
            </div>

            <div class="navbar-nav d-flex gap-3">
                <a class="nav-item" href="#">Stacks</a>
                <a class="nav-item" href="#">Binary Trees</a>
                <a class="nav-item" href="#">Like This</a>
            </div>
        </div>
    </header>

    <main class="pb-5">
        <div class="container mx-auto">
            <article>
                <h1 class="text-center ff-main fs-2">
                    Stacks - Learn by visualizing
                </h1>

                <div class="text-center text-muted">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                </div>

                <figure class="py-2 w-100 mx-auto text-center">
                    <img class="main-img" src="https://images.unsplash.com/photo-1599507593499-a3f7d7d97667?w=400">
                </figure>

                <section>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>


                    <h4>Where does it come from?</h4>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                    </p>

                    <p>
                        Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </p>


                    <h4>Where does it come from?</h4>
                    <p>
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                    </p>
                </section>

                <section>
                    <h2 class="text-center">Stack Problems</h2>

                    <p>Go through some of these stack problems and their visualizations!</p>

                    <ol class="solutions-list">
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a>
                        </li>
                        <li>
                            <a href="visualizer.html">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a>
                        </li>
                        <li>
                            <a href="visualizer.html">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a>
                        </li>
                        <li>
                            <a href="visualizer.html">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a>
                        </li>
                        <li>
                            <a href="visualizer.html">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</a>
                        </li>
                        <li>
                            <a href="visualizer.html">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</a>
                        </li>
                        <li>
                            <a href="visualizer.html">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</a>
                        </li>
                    </ol>
                </section>
            </article>
        </div>
    </main>

    <footer>
        <div class="container d-flex mx-auto flex-column text-center justify-center">
            <p class="mt-0 mb-2 text-primary fw-bold">Made with love by Raghav!</p>
            <p class="m-0 text-muted">The contents of this website are &copy; 2024 under the terms of the MIT License.</p>
        </div>
    </footer>
</body>
</html>