<!DOCTYPE html>
<html>
<head>
    <title>Data Structures</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>
<body>
    {% include header.html %}

    <main class="pb-5">
        <div class="container mx-auto">
            <article>
                <h1 class="text-center ff-main fs-2">
                    Stacks - Learn by visualizing
                </h1>

                <div class="text-center text-muted">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                </div>

                <figure class="py-2 w-100 mx-auto text-center">
                    <img class="main-img" src="https://images.unsplash.com/photo-1599507593499-a3f7d7d97667?w=400">
                </figure>

                <section>
                    {{ content }}
                </section>

                <section>
                    <h2 class="text-center">Stack Problems</h2>

                    <p>Go through some of these stack problems and their visualizations!</p>

                    <ol class="solutions-list">
                        {% for stack in site.stacks %}
                        <li>
                            <a href="/stacks/{{ stack.slug }}">{{ stack.title }}</a>
                        </li>
                        {% endfor %}
                    </ol>
                </section>
            </article>
        </div>
    </main>

    {% include footer.html %}
</body>
</html>