<!DOCTYPE html>
<html>
<head>
    <title>Data Structures</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>
<body>
    <header>
        <div class="container d-flex align-center mx-auto">
            <div class="navbar-logo d-flex align-center ff-main fw-bold fs-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Stack_Overflow_icon.svg" width="40px">
                <a class="text-primary" href="#">
                    Data Structures
                </a>
            </div>

            <div class="navbar-nav d-flex gap-3">
                <a class="nav-item" href="#">Stacks</a>
                <a class="nav-item" href="#">Binary Trees</a>
                <a class="nav-item" href="#">Like This</a>
            </div>
        </div>
    </header>

    <main class="pb-5">
        <div class="container mx-auto">
            <article>
                <h1 class="text-center ff-main fs-2">
                    Find the minimum value in the stack
                </h1>

                <section class=" text-muted">
                    <p>
                        <strong>Problem:</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>

                    <p>
                        Ex: Given the input stack <code>[3, 2, 5, 6, 1, 7]</code>... Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </section>

                <section>
                    <h4>Algorithm:</h4>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>

                    <ol>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                        <li>When an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
                        <li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li>
                        <li>Finally what remains at the top of the stack is the answer.</li>
                    </ol>
                </section>

                <section>
                    <h4>Solution & Visualize:</h4>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.
                    </p>

                    <div class="solution">
                        <iframe width="100%" height="430" src="//jsfiddle.net/DiogoBernardelli/vuc85mok/embedded/js,result/dark/" frameborder="0" loading="lazy" allowtransparency="true" allowfullscreen="true"></iframe>
                    </div>
                </section>
            </article>
        </div>
    </main>

    <footer>
        <div class="container d-flex mx-auto flex-column text-center justify-center">
            <p class="mt-0 mb-2 text-primary fw-bold">Made with love by Raghav!</p>
            <p class="m-0 text-muted">The contents of this website are &copy; 2024 under the terms of the MIT License.</p>
        </div>
    </footer>
</body>
</html>