---
for: Stacks
---

<!DOCTYPE html>
<html>
<head>
    {% include head-content.html %}
    <link rel="stylesheet" type="text/css" href="/stacks/assets/css/animator.css">
</head>
<body>
    {% include header.html %}

    <main class="pb-5">
        <div class="container mx-auto">
            <article>
                <h1 class="text-center ff-main fs-2">
                    {{ page.title }}
                </h1>

                <div class="d-flex justify-center gap-3">
                    <div class="post-tag">
                        Total Likes: 1250
                    </div>
                    <div class="post-tag">
                        Stack
                    </div>
                    <div class="post-tag">
                        JavaScript
                    </div>
                </div>

                <section>
                    {{ content }}

                    <div class="solution">
                        <div class="d-flex justify-center gap-4 mb-4">
                            <div class="tab-btn solution-tab p-2 active" data-target="solution-result">Result</div>
                            <div class="tab-btn solution-tab p-2" data-target="solution-code">Code</div>
                        </div>

                        <div>
                            <div class="tab-panel solution-tab-panel p-2 active" id="solution-result">
                                {% include stack-result-area.html %}
                            </div>

                            <div class="tab-panel solution-tab-panel p-2" id="solution-code">
                                <div class="d-flex gap-3 code-tabs">
                                    <div class="tab-btn code-tab p-2 active" data-target="solution.js">solution.js</div>
                                    <div class="tab-btn code-tab p-2" data-target="stack.js">stack.js</div>
                                    <div class="tab-btn code-tab p-2" data-target="stack-displayer.js">stack-displayer.js</div>
                                    <div class="tab-btn code-tab p-2" data-target="animator-module.js">animator-module.js</div>
                                </div>

                                <div class="d-flex">
                                    <div class="tab-panel code-tab-panel active" id="solution.js">
                                        {% highlight javascript %}
{% include_relative assets/js/{{ page.slug }}.js %}
                                        {% endhighlight %}
                                    </div>
                                    <div class="tab-panel code-tab-panel" id="stack.js">
                                        {% highlight javascript %}
{% include_relative assets/js/stack.js %}
                                        {% endhighlight %}
                                    </div>
                                    <div class="tab-panel code-tab-panel" id="stack-displayer.js">
                                        {% highlight javascript %}
{% include_relative assets/js/stack-displayer.js %}
                                        {% endhighlight %}
                                    </div>
                                    <div class="tab-panel code-tab-panel" id="animator-module.js">
                                        {% highlight javascript %}
{% include_relative assets/js/animator-module.js %}
                                        {% endhighlight %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>

            <div class="d-flex gap-3 prev-next-links">
                {% if page.previous %}
                    <a rel="prev" href="{{ page.previous.url }}">
                        &larr; Previous <br>
                        {{ page.previous.title }}
                    </a>
                {% else %}
                    <a>&nbsp;</a>
                {% endif %}
                {% if page.next %}
                    <a class="text-right" rel="next" href="{{ page.next.url }}">
                        Next &rarr; <br>
                        {{ page.next.title }}
                    </a>
                {% endif %}
            </div>
        </div>
    </main>

    {% include footer.html %}

    <template id="stack-template">
        <div class="stack-wrapper">
            <div class="stack-ops">
                <strong>
                    <span class="text-underline">&nbsp;PUSH&nbsp;</span>
                </strong>
                <span></span>
                <strong>
                    <small>Last</small> <br>
                    <span class="text-underline">&nbsp;POP&nbsp;</span>
                </strong>
            </div>
            <div class="stack-ops-values">
                <div class="stack-item hidden push-element">5</div>
                <span></span>
                <div class="stack-item pop-element">&nbsp;</div>
            </div>
            <div class="stack-container">
                <span></span>
                <div class="stack"></div>
                <span></span>
            </div>
            <div class="stack-description">
                <h4></h4>
                <p></p>
            </div>
        </div>
    </template>

    <script src="/stacks/assets/js/stack-displayer.js"></script>
    <script src="/stacks/assets/js/animator-module.js"></script>
    <script src="/stacks/assets/js/stack.js"></script>
    <script src="/stacks/assets/js/{{ page.slug }}.js"></script>
    <script>
        let tabBtns = document.getElementsByClassName('tab-btn');
        let solutionTabs = document.getElementsByClassName('solution-tab-panel');
        let codeTabs = document.getElementsByClassName('code-tab-panel');
        for (let tabBtn of tabBtns) {
            tabBtn.addEventListener('click', (e) => {
                if (e.target.classList.contains('solution-tab')) {
                    for (let currentTabBtn of tabBtns) {
                        if (currentTabBtn.classList.contains('solution-tab')) {
                            currentTabBtn.classList.remove('active');
                        }
                    }

                    for (let solutionTab of solutionTabs) {
                        solutionTab.classList.remove('active');
                    }
                } else {
                    for (let currentTabBtn of tabBtns) {
                        if (currentTabBtn.classList.contains('code-tab')) {
                            currentTabBtn.classList.remove('active');
                        }
                    }

                    for (let codeTab of codeTabs) {
                        codeTab.classList.remove('active');
                    }
                }

                e.target.classList.add('active');
                document.getElementById(e.target.dataset.target)
                        .classList.add('active');
            });
        }


        let showVisualizationBtn = document.getElementById('btn-show-visualization');
        showVisualizationBtn.addEventListener('click', () => {
            // Validate the inputs
            let inputs = document.getElementsByClassName('sv-input');
            let args = [];

            for (let input of inputs) {
                let feedbackElement = input.nextElementSibling;
                feedbackElement.classList.add('d-none');

                if (input.classList.contains('sv-input-array')) {
                    // Remove last comma
                    let arrayValue = input.value.replace(/,\s*$/, "");

                    if (! /^\s*\d+\s*(,\s*\d+\s*)*$/.test(arrayValue)) {
                        // feedbackElement.innerText = 'Please enter the array elements followed by a comma';
                        // feedbackElement.classList.remove('d-none');
                    } else {
                        feedbackElement.classList.add('d-none');
                        let array = arrayValue.split(',');
                        array.forEach((value, index) => {
                            array[index] = parseInt(value.trim());
                        });

                        args.push(array);
                    }
                } else {
                    if (input.getAttribute('validation')) {
                        let regex = new RegExp(input.getAttribute('validation'));
                        if (! regex.test(input.value)) {
                            feedbackElement.innerText = 'Please enter the string in correct format';
                            feedbackElement.classList.remove('d-none');
                            return;
                        }
                    }

                    args.push(input.value);
                }
            }

            animatorModule.clearAnimations();

            document.getElementById('final-output')
                    .innerHTML = '&nbsp;&nbsp;&nbsp;';
            document.getElementById('stack-visualizer')
                    .innerHTML = '<div>Loading...</div>';
            document.getElementsByClassName('sv-comment')
                    .innerHTML = '';

            // Add a delay, so previous animations are celared
            setTimeout(() => {
                document.getElementById('stack-visualizer')
                        .innerHTML = '';
                // Call the solution function with the inputs
                stackSolution(args);
            }, 2000);
        });

        function highlightCharacter(string, index) {
            let highlightText = '<div class="sv-comment-highlight">';
            highlightText += string.substr(0, index);
            highlightText += '<span class="sv-comment-highlight-char">'+ string.substr(index, 1) +'</span>';
            highlightText += string.substr(index + 1);
            highlightText += '</div>';

            return highlightText;
        }

        function highlightSubstring(string, startIndex, length) {
            let highlightText = '<div class="sv-comment-highlight">';
            highlightText += string.substr(0, startIndex);
            highlightText += '<span class="sv-comment-highlight-char">'+ string.substr(startIndex, length) +'</span>';
            highlightText += string.substr(startIndex + length);
            highlightText += '</div>';

            return highlightText;
        }
    </script>
</body>
</html>